body {
  padding-bottom:30px;   /* Height of the footer */
} 

.logo {
  width: 120px;
  margin: 10px;
  display: block; 
  text-indent: -9999px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
  padding: 20px;
  border-top: 2px solid #a0a0a0;
   background:#e5e5e5;
    margin-top: 20px;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}